<h3>This is my third component</h3>

<div>
  <h4>this is from My third Component</h4>

  <p *ngFor="let str of strThirdArray">{{ str }}</p>
</div>

<div>
  <h6>Communicating to Parent....</h6>

  <input type="text" class="form-control" #childInput />

  <!-- Trigger point -->
  <button class="btn btn-success" (click)="passMessage()">Pass Message</button>
</div>

<button class="btn btn-info" (click)="getPrdoucts()">Update Products</button>

<div>
  <!-- <div *ngFor="let prod of myServiceThird.products"> -->
  <div *ngFor="let prod of myThirdProducts">
    <p>{{ prod.id }} -- {{ prod.name }}</p>
  </div>
</div>
