<div class="m-2">
  <div class="d-flex p-2 m-2 product-list-card">
    <div class="right">
      <img
        src="https://target.scene7.com/is/image/Target/GUEST_16b2290b-fa89-4b80-b4b3-84b19e8c7fa3"
        class="img-fluid product-list-img"
      />
    </div>
    <div class="left">
      <h3>Name</h3>
      <p>description</p>
      <p>Price : Rs.1200</p>
    </div>
  </div>
  <div class="d-flex p-2 m-2 product-list-card">
    <div class="right">
      <img
        src="https://target.scene7.com/is/image/Target/GUEST_16b2290b-fa89-4b80-b4b3-84b19e8c7fa3"
        class="img-fluid product-list-img"
      />
    </div>
    <div class="left">
      <h3>Name</h3>
      <p>description</p>
      <p>Price : Rs.1200</p>
    </div>
  </div>

  <div class="d-flex p-2 m-2 product-list-card">
    <div class="right">
      <img
        src="https://target.scene7.com/is/image/Target/GUEST_16b2290b-fa89-4b80-b4b3-84b19e8c7fa3"
        class="img-fluid product-list-img"
      />
    </div>
    <div class="left">
      <h3>Name</h3>
      <p>description</p>
      <p>Price : Rs.1200</p>
    </div>
  </div>
</div>
