<div class="col-md-8 m-4">
  <h2 class="text-center">Login</h2>
  <form id="loginForm" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div class="form-group">
      <label class="control-label"> Username</label>
      <input
        type="email"
        name="usrname"
        class="form-control"
        email
        minlength="3"
        ngModel
        required
        #userName="ngModel"
      />

      <div
        class="text-danger mt-2"
        *ngIf="loginForm.submitted && userName.errors"
      >
        <p *ngIf="userName.errors.required">Username is required!!</p>
        <p *ngIf="userName.errors.email">
          The data should be in proper email structre
        </p>
        <p *ngIf="userName.errors.minlength">
          Minimum it should be 3 character length
        </p>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label"> Password</label>
      <input
        type="password"
        name="pwd"
        class="form-control"
        ngModel
        required
        #txtPassword
      />
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary">Login</button>
      <!-- <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button> -->
      <!-- <button type="button" (click)=""></button> -->
    </div>
  </form>
</div>
