<div class="m-2">
  <h2>Product Detail</h2>

  <div class="d-flex justify-content-start p-3">
    <div class="m-2 d-flex justify-content-center flex-column">
      <img
        class="img-fluid product-detail-img"
        alt="product-detail-image"
        [src]="selectedProduct.imageUrl"
      />

      <h6>{{ selectedProduct.name }}</h6>
    </div>

    <div class="m-2 d-flex justify-content-center flex-column">
      <h3>{{ selectedProduct.name }}</h3>
      <p>Description: {{ selectedProduct.description }}</p>
      <p>Price : {{ selectedProduct.price }}</p>
    </div>
  </div>
  <div>
    <p>Go to another product</p>

    <p>
      <a routerLink="/products/p002"> P002</a>
    </p>
  </div>
</div>
